@media (max-width: 728px) {
    .center-side,
    .left-side,
    .right-side {
        float: left;
        width: 100%;
        height: 100%;
    }
    .shadow-desc {
        bottom: 0;
        padding: 1rem 0.8rem;
        position: absolute;
    }
   
}

@media (max-width: 768px) {
    .center-side,
    .left-side,
    .right-side {
        float: left;
        width: 100%;
    }

    .shadow-desc {
        bottom: 0;
        padding: 1rem 0.8rem;
        position: absolute;
    }

    #business {
        margin-top: 50px;
    }
    
}

@media (max-width: 1024px) {
    .center-side,
    .left-side,
    .right-side {
        float: left;
        width: 100%;
    }

    .shadow-desc {
        bottom: 0;
        padding: 1rem 0.8rem;
        position: absolute;
    }
}

